<%- include("partials/header3.ejs") %>
<body>
<!--firstsection-->
<div class="firstsection">
  <div class="firstsection-textlayer">
    <div class="text-firstsection">
      <h1>BANSKY</h1><br>
    <h2>FITNESS</h2>
    </div>
    <div class="button-firstsection">
      <button><a href="/logout">Logout</a></button>
      </div>
  </div>
</div>

<!--secondsection-->
<div class="secondsection">
<div class="secondsection-left"></div>
<div class="secondsection-right">
  <div class="text-secondsection-right-heading">
<h1>BANSKY</h1>
<h3>Fitness</h3>
</div><br>
<p>„THE BEST OF BOTH WORLDS. A PERSONAL TRAINING EXPERIENCE IN A GROUP SETTING. IN OUR SMALL GROUP CLASS, WE ONLY ALLOW 3-6 PEOPLE PER SESSION. WE BELIEVE THIS IS THE MOST EFFECTIVE SETTING FOR YOU TO SUCCEED. YOU GET TO ENJOY THE FUN ENERGY OF A GROUP AND WE CAN OFFER TOP NOTCH COACHING WITH SUCH A SMALL NUMBER OF PEOPLE.“
​</p>
<br>
  <p> ANDRIUS ČESNAUSKAS </p>
</div>
</div>

 
<!--thirdsection-->
<div class="thirdsection">
  <div class="thirdsection-1"></div>
  <div class="thirdsection-2"></div>
  <div class="thirdsection-3"></div>
  <div class="thirdsection-4"></div>
</div>
<br>
<!--fourthsection-->
<div class="fourthsection">
  <div class="fourthsection-left">

<div class="fourthsection-left-heading">
  <h1>SEMI-PRIVATE TRAINING</h1>
  <p>"2 in 1: PERSONAL TRAINING EXPERIENCE IN A SMALL GROUP FORMAT. WORKOUTS MADE FOR GROUPS OF 3-5 PERSONS. WE GUARANTEE YOU, IT'S THE BEST WAY TO GET THE RESULTS YOU ALWAYS WANTED. ENJOY HIGH QUALITY TRAINING IN SMALL GROUP ATMOSPHERE!"</p>
</div>
<div class="fourthsection-left-body">
<div class="fourthsection-left-body-card">
 <div class="fourthsection-left-body-card-icon">
  <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-meta" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a55 55 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3q.477-.001.924.122c.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714m1.516 2.224q-.378-.614-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87zM4.846 4.756c.725.1 1.385.634 2.34 2.001A212 212 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264q.136 0 .27.018Z"/>
  </svg>
</div>
<div class="fourthsection-left-body-card-text">
  <h2>FEELING</h2>
  <p>When someone asks you "How do you feel?" You can always say - just great. Life is beautifull.</p>
</div>

</div>

<div class="fourthsection-left-body-card">
  <div class="fourthsection-left-body-card-icon">
    <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
      <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
    </svg>
 </div>
 <div class="fourthsection-left-body-card-text">
   <h2>HEALTH</h2>
   <p>Overweight, back pain, increased cholesterol? Our first goal - to fix it!</p>
 </div>
 
 </div>
 
 <div class="fourthsection-left-body-card">
  <div class="fourthsection-left-body-card-icon">
    <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
      <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
      <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
    </svg>
 </div>
 <div class="fourthsection-left-body-card-text">
   <h2>LOOK</h2>
   <p>Create Your body. We will help to make it!</p>
 </div>
 
 </div>
 
 <div class="fourthsection-left-body-card">
  <div class="fourthsection-left-body-card-icon">
    <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
    </svg>
 </div>
 <div class="fourthsection-left-body-card-text">
   <h2>SELF CONFIDENT</h2>
   <p>Feel confident in your body, your look and your strength.</p>
 </div>
 
 </div>
 
 <div class="fourthsection-left-body-card">
  <div class="fourthsection-left-body-card-icon">
    <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-walking" viewBox="0 0 16 16">
      <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.8 1.8 0 0 1-.088.395l-.318.906.213.242a.8.8 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"/>
      <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.8.8 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914zm4.22-4.215-.494-.494.205-1.843.006-.067 1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
    </svg>
 </div>
 <div class="fourthsection-left-body-card-text">
   <h2>ACTIVITY</h2>
   <p>Get that feeling when your body is capable to do anything you want it to do.</p>
 </div>
 
 </div>
 
 <div class="fourthsection-left-body-card">
  <div class="fourthsection-left-body-card-icon">
    <svg style="color:rgb(127, 129, 129)" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-battery-full" viewBox="0 0 16 16">
      <path d="M2 6h10v4H2z"/>
      <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
    </svg>
 </div>
 <div class="fourthsection-left-body-card-text">
   <h2>ENERGY</h2>
   <p>Start to train in a gym! Feel energized even at the end of your day.</p>
 </div>
 
 </div>
 

</div>
  </div>
<div class="fourthsection-right">
  <p>JOIN US</p><br><hr>
  <div class="fourthsection-right-socials">

  </div>
</div>

</div>

<!--fifthsection-->

<div class="fifthsection">

<div class="fifthsection-title">
  <h1>OUR TEAM</h1>
</div>
<div class="fifthsection-team">

  <div class="fifthsection-player">
    <div class="fifthsection-image">
      <img src="images/gym10.jpg" width="100%" height="500px">
    </div>
    <div class="fifthsection-text">
      <h3>ABANA KOSISOCHUKWU</h3>
      <p>HEAD COACH</p>
    </div>
  </div>

  <div class="fifthsection-player">
    <div class="fifthsection-image">
      <img src="images/gym10.jpg" width="100%" height="500px">
    </div>
    <div class="fifthsection-text">
      <h3>ABANA KOSISOCHUKWU</h3>
      <p>HEAD COACH</p>
    </div>
  </div>

  <div class="fifthsection-player">
    <div class="fifthsection-image">
      <img src="images/gym10.jpg" width="100%" height="500px">
    </div>
    <div class="fifthsection-text">
      <h3>ABANA KOSISOCHUKWU</h3>
      <p>HEAD COACH</p>
    </div>
  </div>

   <div class="fifthsection-player">
    <div class="fifthsection-image">
      <img src="images/gym10.jpg" width="100%" height="500px">
    </div>
    <div class="fifthsection-text">
      <h3>ABANA KOSISOCHUKWU</h3>
      <p>HEAD COACH</p>
    </div>
  </div>

</div>
</div>

<!--sixthsection-->
<div class="sixthsection">
  
<div class="sixthsection-left">
  <div class="sixthsection-left-single">
    <svg  xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
    </svg>

    <p>1. REGISTRATION</p>
  </div>

  <div class="sixthsection-left-single">
    <svg  xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
    </svg>

    <p>2. PHONE CALL</p>
  </div>
  
  <div class="sixthsection-left-single">
    <svg  xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
    </svg>

    <p>3. PRIVATE SESSION</p>
    <span class="sixthsection-extra">Movement, performance assesment, goals setting, Duration 60 min. Price 70 eur.
    </span>
  </div>
  
  <div class="sixthsection-left-single">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
    </svg>

    <p>4. SEMI-PRIVATE TRAINING </p>
    <span class="sixthsection-extra">3-5 persons per class only. Duration 55 min. Pricing 140-300 eur per month
    </span>
  </div>
  
</div>
<div class="sixthsection-right">
  <p>WORKOUT WITH PASSION!</p>
   

  
    
        
</div>
</div>

<!--seventhsection-->

<div class="seventhsection">

  <div class="seventhsection-single">
    <div class="seventhsection-single-image">
      <img src="images/gym12.jpg" width="100px" height="100px">
    </div>
    <div class="seventhsection-single-text">
      <h3>BANSKY</h3>
      <p>Movement Lab coaches create most efficient, strong and engaging training programs. They are very knowledgeable, supportive and fun professionals to work with. It’s always lots of good laughter, combined with serious functional fitness work- work hard, play hard !
        Movements Lab is super clean studio! Has good coffee, cozy and charming dressing rooms and showers.
        The best place to exercise and recharge!</p>
    </div>
  </div>

  <div class="seventhsection-single">
    <div class="seventhsection-single-image">
      <img src="images/gym12.jpg" width="100px" height="100px">
    </div>
    <div class="seventhsection-single-text">
      <h3>SMITH</h3>
      <p>This is my favorite place for functional training in Vilnius and one of my favorites in the world. I visit movement or functional training places anywhere I travel which I do often in US, Europe and Asia. Movement lab has superb coaching in a bright, well equipped and clean space. People and coaches were very friendly. I loved the small group training. The owner Andrius knew exactly how much to challenge me, without exhausting me. I really look forward to coming back next time I am in Vilnius.</p>
    </div>
  </div>

  <div class="seventhsection-single">
    <div class="seventhsection-single-image">
      <img src="images/gym12.jpg" width="100px" height="100px">
    </div>
    <div class="seventhsection-single-text">
      <h3>IKECHUWKU</h3>
      <p>Tai nėra sporto klubas, kurį esame linkę įsivaizduoti. Tai yra su didele meile, kruopštumu ir profesionalumu įkurti sporto namai. Profesionalūs treneriai tapę draugais, estetiška aplinka, skani kava ir draugiška bendruomenė, skatina kaskart grįžti ir kartu siekti norimo asmeninio rezultato.</p>
    </div>
  </div>

  <div class="seventhsection-single">
    <div class="seventhsection-single-image">
      <img src="images/gym12.jpg" width="100px" height="100px">
    </div>
    <div class="seventhsection-single-text">
      <h3>MIRACLE</h3>
      <p>Vienintelė vieta kur iki šiol buvo toks geras jausmas sportuoti…. jokios “masofkės”, profesionalus trenerių požiūris ir dėmesys kiekvienam sportuojančiam, tobulai jauki atmosfera = 10 balų su keliais pliusais :</p>
    </div>
  </div>

</div>

<!--EIGHTHSECTION-->

<div class="eightsection">
  <div class="eightsection-ca">
    <div class="eightsection-card">

      <div class="eightsection-card-upper">
        <h2>4 SESSIONS</h2>
        <h1>€150</h1>
        <p>SEMI-PRIVATE TRAINING</p>
        <button>Select</button>
      </div>
  
      <div class="eightsection-card-lower">
        <p>1 X PER WEEK</p>
        <p>37 € PER SESSION</p>
        <p>4 WEEKS</p>
      </div>
  
    </div>
  
    <div class="eightsection-card">
  
      <div class="eightsection-card-upper">
        <h2>8 SESSIONS</h2>
        <h1>€250</h1>
        <p>SEMI-PRIVATE TRAINING</p>
        <button>Select</button>
      </div>
  
      <div class="eightsection-card-lower">
        <p>2 X PER WEEK</p>
        <p>31 € PER SESSION</p>
        <p>4 WEEKS</p>
      </div>
  
    </div>
  
    <div class="eightsection-card">
  
      <div class="eightsection-card-upper">
        <h2>12 SESSIONS</h2>
        <h1>€310</h1>
        <p>SEMI-PRIVATE TRAINING</p>
        <button>Select</button>
      </div>
  
      <div class="eightsection-card-lower">
        <p>3 X PER WEEK</p>
        <p>26 € PER SESSION</p>
        <p>4 WEEKS</p>
      </div>
  
    </div>
  
  </div>
  
</div>

<!--ninthsection-->

<div class="ninthsection">
  <div class="ninthsection-left">
    <h2>WHY MOVEMENT LAB?</h2>

    
  </div>

<div class="ninthsection-right">
  <ul>
<li>Most effective training methods.</li>
<li>Individualised exercises for each client.</li>
<li>Workout duration 55 min.</li>
<li>Flexible schedule.</li>
<li>2-5 persons per Class only.</li>
  </ul>
  
<ul>
  <li>Professional Personal Trainer.</li>
<li>Friendly community.</li>
<li>Private Showers & towels.</li>
<li>Attention to interior details.</li>
<li>Always good coffee.</li>
</ul>

</div>

</div>

<!--tenthsection-->

<div class="tenthsection">

  <div class="tenthsection-text">
    <h2>CREATE YOURSELF!</h2>
<h3>SEMI-PRIVATE TRAINING</h3>
  </div>


  

</div>
</body>
  <%- include("partials/footer.ejs") %>