
<%- include("partials/header2.ejs") %>

<div class="container">
  <div class="container-text">
<h2>FORGOTTEN YOUR PASSWORD</h2>
<p>Remembered your password? <a href="/login">Login</a></p>
<p>Really don't have an account? <a href="/register">Register</a></p>
</div>

<div class="container2">

<form action="/forgottenpassword" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="username" placeholder="enter your email address">
  </div>

  <div class="form-group">
    <label for="phoneNumber">phone number</label>
    <input type="tel" class="form-control" name="phoneNumber" placeholder="enter your phone number">
  </div>

  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" name="newPassword" placeholder="enter your password">
  </div>

  <button type="submit" class="btn btn-dark">Ok</button>
</form>

</div>
</div>
<%- include("partials/footer2.ejs") %>
