<%- include("partials/header3.ejs") %>
<body>
<div class="Pricingsection">

<div class="Pricingsection-heading">
    <h1>Membership</h1>
</div>


<div class="Pricingsection-collection">

    <div class="Pricingsection-card2">

        <div class="Pricingsection-card">
            <div class="Pricingsection-card">
        
                <div class="Pricingsection-card-upper">
                  <h2>4 SESSIONS</h2>
                  <h1>€150</h1>
                  <p>SEMI-PRIVATE TRAINING</p>
                  <h5>vaild for one month</h5>
                  <button>Select</button>
                </div>
            
                <div class="Pricingsection-card-lower">
                  <p>1 X PER WEEK</p>
                  <p>37 € PER SESSION</p>
                  <p>4 WEEKS</p>
                </div>
            
              </div>
        </div>
    
    </div>

    <div class="Pricingsection-card2">

        <div class="Pricingsection-card">
            <div class="Pricingsection-card">
        
                <div class="Pricingsection-card-upper">
                  <h2>4 SESSIONS</h2>
                  <h1>€150</h1>
                  <p>SEMI-PRIVATE TRAINING</p>
                  <h5>vaild for one month</h5>
                  <button>Select</button>
                </div>
            
                <div class="Pricingsection-card-lower">
                  <p>1 X PER WEEK</p>
                  <p>37 € PER SESSION</p>
                  <p>4 WEEKS</p>
                </div>
            
              </div>
        </div>
    
    </div>

    <div class="Pricingsection-card2">

        <div class="Pricingsection-card">
            <div class="Pricingsection-card">
        
                <div class="Pricingsection-card-upper">
                  <h2>4 SESSIONS</h2>
                  <h1>€150</h1>
                  <p>SEMI-PRIVATE TRAINING</p>
                  <h5>vaild for one month</h5>
                  <button>Select</button>
                </div>
            
                <div class="Pricingsection-card-lower">
                  <p>1 X PER WEEK</p>
                  <p>37 € PER SESSION</p>
                  <p>4 WEEKS</p>
                </div>
            
              </div>
        </div>
    
    </div>

    <div class="Pricingsection-card2">

        <div class="Pricingsection-card">
            <div class="Pricingsection-card">
        
                <div class="Pricingsection-card-upper">
                  <h2>4 SESSIONS</h2>
                  <h1>€150</h1>
                  <p>SEMI-PRIVATE TRAINING</p>
                  <h5>vaild for one month</h5>
                  <button>Select</button>
                </div>
            
                <div class="Pricingsection-card-lower">
                  <p>1 X PER WEEK</p>
                  <p>37 € PER SESSION</p>
                  <p>4 WEEKS</p>
                </div>
            
              </div>
        </div>
    
    </div>

    <div class="Pricingsection-card2">

        <div class="Pricingsection-card">
            <div class="Pricingsection-card">
        
                <div class="Pricingsection-card-upper">
                  <h2>4 SESSIONS</h2>
                  <h1>€150</h1>
                  <p>SEMI-PRIVATE TRAINING</p>
                  <h5>vaild for one month</h5>
                  <button>Select</button>
                </div>
            
                <div class="Pricingsection-card-lower">
                  <p>1 X PER WEEK</p>
                  <p>37 € PER SESSION</p>
                  <p>4 WEEKS</p>
                </div>
            
              </div>
        </div>
    
    </div>
    
    
</div>


</div>

</body>
<%- include("partials/footer.ejs") %>